# files to be ignored
__pycache__/chessEngine.cpython-310.pyc
__pycache__/chessImages.cpython-38.pyc
__pycache__/chessEngine.cpython-38.pyc
venv/*

# replit files 
replit.nix
pyproject.toml
poetry.lock